<h1><%= @team.city %> <%= @team.title %> (<%= @team.teamAbbrevs %>)</h1>
<h2><%= @team.arena %></h2>
<h3><%= @team.address %></h3>
<table>
  <tr>
    <th>Player:</th>
    <th>Position:</th>
    <th>Shoots:</th>
  </tr>
  <% @players.each do |play| %>
    <tr>
      <td><%= link_to play.player.skaterFullName, play.player %></td>
      <td><%= play.player.positionCode %></td>
      <td><%= play.player.shootsCatches %></td>
    </tr>
  <% end %>
</table>